.App {
  text-align: center;
}

.widget {
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: white;

  flex-grow: 1;
  flex-shrink: 2;

  margin: 1rem;
  /* padding: 7px; */
}

.widget:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.widget-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0px solid black;
}

.widget-title {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 175%;
  font-family: "Open Sans", monospace;
  font-weight: normal;
}

.widget-control {
  align-self: center;
  display: flex;
  flex-direction: row-reverse;
}

.widget-control a {
  color: black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  vertical-align: middle;
  text-decoration: none;
}

.widget-control a:hover {
  background: #ddd;
  color: black;
  cursor: pointer;
}

.dashboard-grid {
  /* display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  padding: 20px;
  background-color: #f5f5f5; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-around;
}

.widget-grid {
  /* display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  padding: 10px;
  margin: 5px; */
}
.widget-grid div {
  background-color: aliceblue;
  text-align: center;
}
.delete-button {
  display: flex;
  float: right;
  justify-content: center;
  height: 100%;
  text-align: center;
  align-items: center;
}
.action-button {
  display: flex;
  float: right;
  flex-shrink: 10;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
}

.widget-control .action-button {
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 4px;
}

.widget-control .action-button:hover {
  background: grey;
  border-color: black;
  color: black;
  cursor: pointer;
}

.widget-link {
  padding: 2px;
  margin: 5px;
}

.widget-link a {
  flex-grow: 1;
}

.widget-link a:hover {
  background: gray;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
