.App {
  text-align: center;
}

.mainTitle {
  font-size: 100px;
}

.addWidgetContainer {
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem;
}

.addWidgetContainer button {
  width: 33%;
}

.widget {
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: white;

  /* flex-grow: 1; */
  flex-shrink: 2;

  margin: 1rem;
  /* padding: 7px; */
}

.widget:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.widget-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0px solid black;
}

.widget-title {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 175%;
  font-family: "Open Sans", monospace;
  font-weight: normal;
}

.widget-title2 {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 175%;
  font-family: "Open Sans", monospace;
  font-weight: normal;
  border: 0;
  width: min-content;
}

.widget-control {
  align-self: center;
  display: flex;
  flex-direction: row-reverse;
}

.widget-control a {
  color: black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  vertical-align: middle;
  text-decoration: none;
}

.widget-control a:hover {
  background: #ddd;
  color: black;
  cursor: pointer;
}

#active-widget {
  background: lightgray;
}

.dashboard-grid {
  /* display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  padding: 20px;
  background-color: #f5f5f5; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* justify-content: space-between; */
  justify-content: flex-start;

  /* align-items: stretch; */
  align-items: flex-start;
  /* align-content: space-around; */
}

.dashboard-grid2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.widget2 {
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: white;
  flex-grow: 1;
  margin: 1rem;
}

.widget-grid {
  /* display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  padding: 10px;
  margin: 5px; */
}
.widget-grid div {
  background-color: aliceblue;
  text-align: center;
}
.delete-button {
  justify-content: center;
  height: 100%;
  text-align: center;
  align-items: center;
  font-size: small;
}
.action-button {
  display: flex;
  float: right;
  flex-shrink: 10;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  font-size: small;
}

.widget-control .action-button {
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 4px;
}

.widget-control .action-button:hover, .delete-button:hover {
  background: lightgray;
  border-color: black;
  color: black;
  cursor: pointer;
}

.widget-link {
  padding: 2px;
  margin: 5px;
  display: flex;
  text-align: center;
}

.widget-link a {
  flex-grow: 1;
}

.widget-link a:hover {
  background: lightgray;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

#recents {
  height: 400px;
  overflow: auto;
}

#recents .widget-link .btn-success {
  display: flex;
  float: right;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}